.carousel {
    width: 750px;
    margin: 300px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    position: absolute;
    width: 600px;
    opacity: 0;
    transition-duration: 1s;
}

.prev {
    transform: translateX(-120%);
}

.next {
    transform: translateX(120%);
}

.slide.active {
    opacity: 1;
}

.arrow {
    width: 64px;
    position: absolute;
}
.arrow-next {
    right: 0;
}

.arrow-back {
    left: 0;
}